body {
  font-family: Trebuchet MS, Verdana;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .1em;
  color: #333;
  background-color: #FFF;
  margin: 0;
}

a { 
  color: #333;
  text-decoration: none; 
}

a:link {
  text-decoration: none; 
}

a:hover { 
  text-decoration: underline; 
}

img { 
  border: 1px solid #999;
  outline: none;
  background: none;
}

a img { 
  border: 1px solid #999;
  outline: none;
  background: none;
}

.noborder {
  border: 0;
  padding: 0;
}
    
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
  text-decoration: none;
  border: 0 none;
  background-color: transparent;
}

#limiter {
  width: 960px;
  margin: 0 auto;
}

#outline {
  width: 500px;
  height: 85px;
  margin: 0 auto;
}

#content {
  width: 500px;
  margin: 0 auto;
}

#content p {
  margin: 0;
}

#stare {
  width: 500px;
  height: 52px;
  margin: 0;
  font-family: 'Trebuchet MS', Verdana;
  font-size: 20px;
  letter-spacing: 1.1px;
  line-height: 30px;
}

#home {
  display: block;
  width: 500px;
  height: 52px;
  position: absolute;
  background-color: transparent;
}

/* nav */

#nav {
  width: 215px;
  overflow: auto;
  top: 60px;
  bottom: 0;
  position: fixed;
  height: 100%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

#nav ul {
  font-family: Trebuchet MS, Verdana;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .1em;
  color: #333;
  margin: 0 0 18px 0;
  list-style-type: none;
  list-style: none;
}

#nav ul li.page {
  font-family: Trebuchet MS, Verdana;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .1em;
  color: #333;
}

#text {
  width: 400px;
  margin: 0 auto 20px auto;
}

#title {
  width: 500px;
  margin: 0 auto 20px auto;
}

.pages {
  padding: 0;
  list-style-type: none;
  list-style: none;
  margin:0;
}

.pages li {
  float: left;
  padding: 0 10px;
}
    
.drawing {
  margin-bottom: 10px;
}

#contact {
  width: 363.5px;
  margin: 0 auto;
  font-family: Lekton;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
}

#contact a:hover{
  text-decoration: none;
  border: 0 none;
  background-color: transparent;
}

#space {
  clear: both;
  width: 363px;
  margin: 0 0 56px 0;
}

/* drawings */

#gallery {
  width: 215px;
  overflow: auto;
  top: 60px;
  bottom: 0;
  position: fixed;
  height: 100%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 0 0 600px;
  /*margin: 0 0 0 570px;*/
}

#gallery ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

#gallery ul li.thumbnail {
  margin: 0 10px 10px 0;
  float: left;
  border: 1px solid #999;
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

#gallery ul li.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#gallery ul li.thumbnail img.landscape {
  width: auto;
  height: 100%;
}

#prevnext {
  float: right;
  text-align: right;
  margin: 0 auto 20px auto;
}

.prev {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12, #img13, #img14, #img15, #img16, #img17, #img18 {
  display: none;
}

/* books */

.text_header {
  padding-top: 30px;
}

/* skeleton */

#skeleton {
  width: 500px;
  /*height: 585px;*/
  margin: 0 auto;
}

#dreaming {
  height: 40px;
  margin: 0 0 6px 0;
  padding: 7px 0 0 0;
  text-align: center;
}

/* info */

#bio {
  width: 400px;
  margin: 0 auto;
}