---
---
{% assign base = site.baseurl %}
<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.category == "drawings" %} <title>{{page.title}}</title> {% elsif page.category == "books" %} <title>{{page.title}}</title> {% elsif page.category == "skeleton" %} <title>{{page.title}}</title> {% elsif page.category == "info" %} <title>{{page.title}}</title>
  {% else %} <title>{{site.main_title}}</title> {% endif %}
  <meta name="keywords" content="brad greene writers writer illustrators illustrator illustration comics comic graphic novels book drawing draw surreal ink art artist pencil dark dream experimental skeleton stare black eye minimalist ambient music musician">
  <meta name="description" content="Brad Greene is an illustrator, comics artist, writer and musician. His experimental comic BLACK EYE is a dreaming look into a dark, surreal world.">
  <link rel="shortcut icon" href="{{base}}/favicon.ico" />
  <link href="{{base}}/css/style.css" rel="stylesheet" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{base}}/js/gallery.js"></script>
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38160907-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</head>

{% if page.category == "books" %}
<body onload="blackeye(1);">
        
{% else %}
<body onload="drawings(1);">
            
{% endif %}
    
<div id="limiter">
    
  <div id="nav">
    <ul>
      <li class="page">BRAD GREENE</li>
    </ul>
    <ul>
      <li><a href="{{base}}/">DRAWINGS</a></li>
    </ul>
    <!-- <ul>
      <li class="page">BOOKS</li>
      <li><a href="{{base}}/blackeye">Black Eye</a></li>
    </ul> -->
    <ul>
      <li class="page"><a href="{{base}}/info">INFO</a></li>
    </ul>
  </div>
    
    
    <div id="content">
        
      {{content}}
        
    </div>
    
    
</div>
    
</body>
</html>