---
layout: default
---
{% assign base = site.baseurl %}
<div id="text">
  Illustrations<br>
  <em><strong>The Yearling</strong></em><br>
  and other drawings.
</div>

<div id="drawings">
  <a href="{{base}}/drawings/the yearling.jpg" title="the yearling"><img src="{{base}}/drawings/363/the yearling.jpg" width="363" height="813" alt="the yearling"></a><br>
  <br>
  <a href="{{base}}/drawings/we all decay in time.jpg" title="we all decay in time"><img src="{{base}}/drawings/363/we all decay in time.jpg" width="363" height="585" alt="we all decay in time"></a><br>
  <br>
  <a href="{{base}}/drawings/herman emily charles.jpg" title="the world is upside-down"><img src="{{base}}/drawings/363/herman emily charles.jpg" width="363" height="382" alt="the world is upside-down"/></a></a><br>
  <br>
  <a href="{{base}}/drawings/i am truely lost.jpg" title="i am truely lost"><img src="{{base}}/drawings/363/i am truely lost.jpg" width="363" height="419" alt="i am truely lost"/></a></a><br>
  <br>
  <a href="{{base}}/drawings/secret.jpg" title="secret"><img src="{{base}}/drawings/363/secret.jpg" width="363" height="462" alt="secret"/></a><br>
  <br>
  <a href="{{base}}/drawings/skin&bones.jpg" title="skin&bones"><img src="{{base}}/drawings/363/skin&bones.jpg" width="363" height="612" alt="skin&bones"/></a><br>
  <br>
  <a href="{{base}}/drawings/shuttersquares.jpg" title="shuttersquares"><img src="{{base}}/drawings/363/shuttersquares.jpg" width="363" height="632" alt="shuttersquares"/></a><br>
  <br>
  <a href="{{base}}/drawings/cockroaches.jpg" title="cockroaches"><img src="{{base}}/drawings/363/cockroaches.jpg" width="363" height="265" alt="cockroaches"/></a><br>
  <br>
  <a href="{{base}}/drawings/lincolndarwin.jpg" title="lincoln darwin"><img src="{{base}}/drawings/363/lincolndarwin.jpg" width="363" height="470" alt="lincoln darwin"/></a><br>
  <br>
  <a href="{{base}}/drawings/card1_amnesiac.jpg" title="amnesiac"><img src="{{base}}/drawings/363/card1_amnesiac.jpg" width="363" height="450" alt="amnesiac"/></a><br>
  <br>
  <a href="{{base}}/drawings/card5_oblivion.jpg" title="oblivion"><img src="{{base}}/drawings/363/card5_oblivion.jpg" width="363" height="448" alt="oblivion"/></a><br>
  <br>
  <a href="{{base}}/drawings/cheshirecat.jpg" title="cheshire cat"><img src="{{base}}/drawings/363/cheshirecat.jpg" width="363" height="272" alt="cheshire cat"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_01.jpg" title="cloudforest 01"><img src="{{base}}/drawings/363/cloudforest_01.jpg" width="363" height="455" alt="cloudforest 01"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_02.jpg" title="cloudforest 02"><img src="{{base}}/drawings/363/cloudforest_02.jpg" width="363" height="454" alt="cloudforest 02"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_03.jpg" title="cloudforest 03"><img src="{{base}}/drawings/363/cloudforest_03.jpg" width="363" height="456" alt="cloudforest 03"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_04.jpg" title="cloudforest 04"><img src="{{base}}/drawings/363/cloudforest_04.jpg" width="363" height="457" alt="cloudforest 04"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_05.jpg" title="cloudforest 05"><img src="{{base}}/drawings/363/cloudforest_05.jpg" width="363" height="457" alt="cloudforest 05"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_06.jpg" title="cloudforest 06"><img src="{{base}}/drawings/363/cloudforest_06.jpg" width="363" height="458" alt="cloudforest 06"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_08.jpg" title="cloudforest 08"><img src="{{base}}/drawings/363/cloudforest_08.jpg" width="363" height="455" alt="cloudforest 08"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_09.jpg" title="cloudforest 09"><img src="{{base}}/drawings/363/cloudforest_09.jpg" width="363" height="456" alt="cloudforest 09"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_10.jpg" title="cloudforest 10"><img src="{{base}}/drawings/363/cloudforest_10.jpg" width="363" height="457" alt="cloudforest 10"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_11.jpg" title="cloudforest 11"><img src="{{base}}/drawings/363/cloudforest_11.jpg" width="363" height="458" alt="cloudforest 11"/></a><br>
  <br>
  <a href="{{base}}/drawings/cloudforest_12.jpg" title="cloudforest 12"><img src="{{base}}/drawings/363/cloudforest_12.jpg" width="363" height="456" alt="cloudforest 12"/></a><br>
</div>