---
layout: default
---
{% assign base = site.baseurl %}
<div id="outline"></div>

<div id="prevnext"></div>

<div id="gallery">
  <ul>
    {% assign sort = site.categories.drawings | sort:"order" %}
    {% for number in sort %}
      <li class="thumbnail"><a href="javascript: drawings({{number.order}});"><img src="{{number.thumbnail}}" class="{{number.class}}" alt="{{number.title}}"></a></li>
    {% endfor %}
  </ul>
</div>

{% assign sort = site.categories.drawings | sort:"order" %}
{% for number in sort %}
  <div id="img{{number.order}}">
    <div id="title"><em><strong>{{number.title}}</strong></em></div>
    {{number.content}}
  </div>
{% endfor %}