---
layout: default
---
{% assign base = site.baseurl %}
<div id="bio">
  <strong>Brad Greene</strong> writes and illustrates books, comics, and graphic novels. Currently drawing a comic titled <em>BLACK EYE</em>.
  <br>
  <br>
  </em>The work has been called &quot;dark&quot;, &quot;somber&quot;, &quot;experimental&quot; and &quot;edgy.&quot; Nervous lines and stretches of black ink create a surreal minimalist approach to horror and the unknown.
  <br>
  <br>
  He is also a home recording musician constantly releasing free ambient music under the name <em>SKELETON</em>.
</div>