---
layout: default
---
{% assign base = site.baseurl %}
<div id="outline"></div>

<div id="bio">
  <strong>Brad Greene</strong> writes and illustrates books and comics. He is currently drawing a story titled <em>BLACK EYE</em>, which follows a character through a dark fantasy world of dreamlike landscapes and a labyrinth of tunnels beneath the mountain city of Tokyotown.
  <br>
  <br>
  </em>He earned his BFA in illustration at Kendall College of Art and Design in 2010.
  <br>
  <br>
He also records ambient music that inhabits the same world as the comics, bringing another layer of atmosphere to the story.
  <br>
(<a href="https://oseknoke.bandcamp.com/" target="_blank">click here to listen</a>)
  <br>
  <br>
  <br>
  <br>
  CONTACT
  <br>
  <br>
  brad@bradgreene.com
  <a href="https://twitter.com/stare_skeleton" target="_blank" title="Twitter"><img src="{{base}}/img/twitter.png" style="vertical-align:middle" width="22" height="22"></a>
</div>