---
layout: default
---
{% assign base = site.baseurl %}
<div id="dreaming"></div>

<div id="skeleton">
<iframe style="border: 0; width: 370px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=1926540316/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=small/transparent=true/" seamless><a href="http://black-eye-stare.bandcamp.com/album/tunnel-vision">tunnel vision by skeleton</a></iframe>
  <br /><br />
<iframe style="border: 0; width: 370px; height: 340px;" src="http://bandcamp.com/EmbeddedPlayer/album=1398676148/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=small/transparent=true/" seamless><a href="http://black-eye-stare.bandcamp.com/album/hexed">hexed by skeleton</a></iframe>
  <br /><br />
<iframe style="border: 0; width: 370px; height: 439px;" src="http://bandcamp.com/EmbeddedPlayer/album=852060998/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=small/transparent=true/" seamless><a href="http://black-eye-stare.bandcamp.com/album/ribcage">ribcage by skeleton</a></iframe>
  <br /><br />
  <iframe style="border: 0; width: 370px; height: 307px;" src="http://bandcamp.com/EmbeddedPlayer/album=2924777904/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=small/transparent=true/" seamless><a href="http://black-eye-stare.bandcamp.com/album/the-more-i-learned-of-their-world-the-more-frightened-i-became">the more i learned of their world, the more frightened i became by skeleton</a></iframe>
  <br /><br />
  <iframe style="border: 0; width: 370px; height: 307px;" src="http://bandcamp.com/EmbeddedPlayer/album=495035559/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=small/transparent=true/" seamless><a href="http://black-eye-stare.bandcamp.com/album/depressing-songs-for-a-dark-day">depressing songs for a dark day by skeleton</a></iframe>
  <br /><br />
  <iframe style="border: 0; width: 370px; height: 340px;" src="http://bandcamp.com/EmbeddedPlayer/album=3436652388/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=small/transparent=true/" seamless><a href="http://black-eye-stare.bandcamp.com/album/anxiety">anxiety by skeleton</a></iframe>
</div>